html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

#logo {
  margin-left: 10px;
}

header {
  position: fixed;
  width: 100%;
  border-bottom:1px solid seashell;
  min-height: 69px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: black;
  opacity: 1;
}
